footer
    - var currYear = new Date().getYear() + 1900;
    p &copy;&nbsp;
        !=currYear
        | &nbsp;
        a(target="_blank", href=config.url,  rel="noopener noreferrer")!=theme.author ? theme.author : config.author ? config.author : config.title
    if config.copyright && config.copyright.enable !== false
        p.copyright-license
            | 本站原创内容采用
            br
            a(rel="license noopener noreferrer", href=config.copyright.license_url, target="_blank")= config.copyright.license || 'CC BY-NC-ND 4.0'
            br
            | 禁止转载。
    p Theme&nbsp;
        a(target="_blank", href="https://github.com/SumiMakito/hexo-theme-typography", rel="noopener noreferrer") Typography
        | &nbsp;by&nbsp;
        a(target="_blank", href="https://www.keep.moe", rel="noopener noreferrer") Makito
    p Proudly published with&nbsp;
        a(target="_blank", href="https://hexo.io", rel="noopener noreferrer") Hexo