doctype
html(lang="zh-CN")
    head
        include head

    body(class=`${page.path.includes('about/') ? 'about-page' : ''} ${is_post() ? 'post-page' : ''} ${page.path === 'index.html' ? 'home' : ''}`)
        div#stage.container
            div.row
                if !is_archive()
                    include sidebar
                div#main-container(class=is_archive() ? 'col-sm-12 col-xs-12' : 'col-sm-9 col-xs-12').main-container
                    block content
                    div.visible-xs.site-bottom-footer
                        include footer
                    if !is_archive()
                        .toc-container
                            .toc-content


        script(src= url_for('js/jquery-3.1.0.min.js'))
        script(src= url_for('js/bootstrap.min.js'))
        script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
        script(src= url_for('js/jquery.appear.js'))
        script(src= url_for('js/google-analytics.js'))
        script(src= url_for('js/typography.js'))
        script(src= url_for('js/toc.js'))

