extends partial/layout

block site_title
    !=  __("Archive") + " · " + config.title

block description
    - var desc = __("Archive") +' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        .tag-filters
            each tag in config.tags
                button.tag-filter(data-tag=tag)= tag
        p.post-title
            != __("Archive") + ' ' + __('ArchiveCount', site.posts.length)
        .archive.animated.fadeInDown
            ul.list-with-title
                include mixins
                +postList()
        if config.archive_generator.per_page
            include mixins
            +make_pager(__('prev'), __('next'))
