extends partial/layout
include mixins

block site_title
    !=  __("Archive") + " · " + config.title

block description
    - var desc = __("Archive") +' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        .archive.animated.fadeInDown
            - var year = 0;
            - var month = 0;
            - var change = false;
            - var monthChange = false;
            - var firstYear = true;
            - var firstMonth = true;
            - page.posts = site.posts.sort('date', -1)  // 确保按日期降序排序
            
            //- 文章列表
            .posts-list
                - var currentYear = null;
                - var posts = page.posts.toArray()
                - var years = {}
                
                //- 首先按年份分组所有文章
                - posts.forEach(function(post) {
                -     var year = date(post.date, 'YYYY')
                -     if (!years[year]) years[year] = []
                -     years[year].push(post)
                - })
                
                //- 然后按年份降序输出
                - Object.keys(years).sort((a, b) => b - a).forEach(function(year) {
                    .year-section
                        h2.archive-year!= year
                        - var monthPosts = {}
                        
                        //- 按月份分组当年的文章
                        - years[year].forEach(function(post) {
                        -     var month = date(post.date, 'MM')
                        -     if (!monthPosts[month]) monthPosts[month] = []
                        -     monthPosts[month].push(post)
                        - })
                        
                        //- 按月份降序输出
                        - Object.keys(monthPosts).sort((a, b) => b - a).forEach(function(month) {
                            .month-section
                                h3.archive-month!= month + "月"
                                .month-container
                                    - monthPosts[month].forEach(function(post) {
                                        .post-item-wrapper
                                            +make_post(post, false)
                                    - })
                        - })
                - })

        if config.archive_generator.per_page
            +make_pager(__('prev'), __('next'))
