extends partial/layout

block site_title
    != page.category + " · " + config.title

block description
    - var desc = page.category + ' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        //- 添加时间轴容器
        .archive-timeline
            .timeline-content
            
        .archive.animated.fadeInDown
            h2.archive-title.archive-year-wrap
                = "秋月春风" + page.category
            
            //- 只显示本分类下所有文章用到的tag（不分页，统计全分类文章）
            - var categoryTags = new Set()
            - var allCategoryPosts = site.categories.findOne({name: page.category}) ? site.categories.findOne({name: page.category}).posts.toArray() : []
            - allCategoryPosts.forEach(function(post) {
            -   if (post.tags && post.tags.length) {
            -     post.tags.forEach(function(tag) {
            -       categoryTags.add(tag.name)
            -     })
            -   }
            - })
            if categoryTags.size
                .tag-filters
                    each tagName in Array.from(categoryTags)
                        - var tagPath = site.tags.findOne({name: tagName}).path
                        a.tag-filter(href=url_for(tagPath))= tagName
            
            //- 按年份和月份组织文章
            - var posts = page.posts.sort('date', -1).toArray()
            - var years = {}
            - posts.forEach(function(post) {
            -   var year = date(post.date, 'YYYY')
            -   var month = date(post.date, 'MM')
            -   if (!years[year]) years[year] = {}
            -   if (!years[year][month]) years[year][month] = []
            -   years[year][month].push(post)
            - })
            
            //- 输出年份和月份结构
            - Object.keys(years).sort((a, b) => b - a).forEach(function(year) {
                .year-section
                    h2.archive-year!= year
                    - Object.keys(years[year]).sort((a, b) => b - a).forEach(function(month) {
                        .month-section
                            h3.archive-month!= month + "月"
                            .month-container
                                - years[year][month].forEach(function(post) {
                                    .post-item-wrapper
                                        include mixins
                                        +make_post(post, false)
                                - })
                    - })
            - })
        +make_pager(__('prev'), __('next'))
