extends partial/layout

block site_title
    != page.category + " · " + config.title

block description
    - var desc = page.category + ' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        .archive.animated.fadeInDown
            h2.archive-title.archive-year-wrap
                = "秋月春风" + page.category
            
            //- 添加标签显示区域,只显示当前分类下的标签
            - var categoryTags = new Set()
            - page.posts.each(function(post) {
            -   if (post.tags && post.tags.length) {
            -     post.tags.forEach(function(tag) {
            -       categoryTags.add(tag.name)
            -     })
            -   }
            - })
            if categoryTags.size
                .tag-filters
                    each tagName in Array.from(categoryTags)
                        - var tagPath = site.tags.findOne({name: tagName}).path
                        a.tag-filter(href=url_for(tagPath))= tagName
            
            include mixins
            - var year = 0;
            - var change = false;
            - var firstYear = true;
            - page.posts.sort('date', -1)  // 按日期倒序排序
            - page.posts.each(function(item){
                - var itemYear = date(item.date, 'YYYY') - 0;
                - change = year !== itemYear;
                - year = change ? itemYear : year;
                if change 
                    if !firstYear
                        br
                    - firstYear = false;
                    h2.archive-year!= year
                - var temp_showCategories = theme.showCategories
                - theme.showCategories = false
                +make_post(item, false)
                - theme.showCategories = temp_showCategories
            - })
        +make_pager(__('prev'), __('next'))
