extends partial/layout

block content
	.autopagerize_page_element: .content
		.home-header(style="display: flex; flex-direction: column; align-items: center; margin-top: 0.2em;")
			img(src="/images/Home.jpg" alt="Home Image" style="max-width: 700px; width: 135%; height: auto; border-radius: 4px;")
			.motto(style="margin-top: 0.5em; margin-bottom: 2em; color: #888; font-size: 0.9em; font-family: 'Times New Roman', Times, serif; font-style: italic;")
				| Per aspera ad astra
		
		// 原有的博客文章列表
		- page.posts.each(function(item){
			include mixins
			+make_post(item)
		- })
		include mixins
		+make_pager(__('prev'), __('next'))
