extends partial/layout.pug

block content
    .autopagerize_page_element: .content
        .post-page
            h2.about-title= page.title
            article.post-content(class=page.path.includes('about/') ? 'about-page' : '')
                != page.content
