.tag-filters {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tag-filter {
    margin: 5px;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .tag-filter:hover,
  .tag-filter.active {
    background: #333;
    color: #fff;
  }
  
  .post-tag {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 12px;
    background: #f0f0f0;
    color: #666;
    font-family:"Times New Roman","楷体";
    border-bottom: 0.5px solid #2e405b;
  }
  .a-tag {
    color: inherit;
    text-decoration: none;
    padding: 2px 5px;
    border-bottom: 0.5px solid #2e405b; /* 添加下划线 */
    transition: all 0.3s;
}

.a-tag:hover {
    color: #fff !important;
    background-color: #2e405b;
    border-bottom: 0.5px solid transparent; /* hover时移除下划线 */
}

  .category-list {
    margin: 20px 0;
    text-align: center;
    font-family:"Times New Roman","楷体"
  }
  
  .category-item {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: all 0.3s;
    font-family:"Times New Roman","楷体";
    border-bottom: 0.5px solid #2e405b; /* 添加下划线 */
  }

  .category-item:hover {
    background: #333;
    color: #fff;
  }
  
  .category-item a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.5px solid #2e405b;
  }


  .post-desc {
    margin: 10px 0;
    color: #666;
    font-size: 0.9em;
    font-family:"Times New Roman","楷体"
  }
  
  