.tag-filters {
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tag-filter {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #666;  /* 使用完整的 border */
  border-radius: 20px;
  background: transparent;
  color: #666;
  text-decoration: none;
  transition: all 0.3s;
  white-space: nowrap;
  margin: 0;
}

.tag-filter:hover {
  background: #2e405b;
  color: #bbb;
  border: 1px solid #2e405b;  /* hover 时也保持完整的 border */
}

  .post-tag {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 12px;
    background: #bbb;
    color: #666;
    font-family:"Times New Roman","楷体";
    border-bottom: 0.5px solid #2e405b;
  }
  .a-tag {
    color: inherit;
    text-decoration: none;
    padding: 2px 5px;
    border-bottom: 0.5px solid #2e405b; /* 添加下划线 */
    transition: all 0.3s;
}

.a-tag:hover {
    color: #bbb !important;
    background-color: #2e405b;
    border-bottom: 0.5px solid transparent; /* hover时移除下划线 */
}

  .category-list {
    margin: 20px 0;
    text-align: center;
    font-family:"Times New Roman","楷体"
  }
  
  .category-item {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: all 0.3s;
    font-family:"Times New Roman","楷体";
    border-bottom: none; /* 删除下划线 */
  }

  .category-item:hover {
    color: #fff;
    background: #2e405b;
    opacity: 0.9;
  }
  
  .category-item a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
  }

  .category-item a:hover {
    color: #fff;
    background: #2e405b;
    opacity: 0.9;
  }


  .post-desc {
    margin: 10px 0;
    color: #666;
    font-size: 0.9em;
    font-family:"Times New Roman","楷体"
  }
  
  